a:link {color: rgba(5,5,5,0.9);}
a:hover {color: rgba(5,5,5,0.9);}
a:active {color: rgba(5,5,5,0.9);}
a:visited {color: rgba(50,50,50,0.9);}

html { 
	display: table; 
	margin: auto; 
	height: 100%; 
}
body { 
    background: -webkit-linear-gradient(rgba(5,5,5,0.9), rgba(0,200,0,0.9) ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(     rgba(5,5,5,0.9), rgba(0,200,0,0.9) ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(   rgba(5,5,5,0.9), rgba(0,200,0,0.9) ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(        rgba(5,5,5,0.9), rgba(0,200,0,0.9) ); /* Standard syntax (must be last) */
/* 	background: #eeeeee url(/resources/images/Old_Newspaper_Texture_by_powerpuffjazz.jpg) 50% top repeat-x;  */
/* 	background: #eeeeee url(/resources/images/Maple_Tea_Texture_by_Shadsie.jpg) 10% top fixed;   */
/* 	background-size: 100% auto  */	
	font-family: Verdana, Geneva, sans-serif;
	font-size:1.0em; 
	line-height:1.0em;
	vertical-align: top;
}

h1 {
	/*color:rgba(250,250,250,0.9); */
	font-size:1.3em;
	line-height:1.3em;
	box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.3);
}
h2 {			
	font-size:0.75em; 
	line-height:1.0em;
}
h3 {
	font-size:1.0em; 
	line-height:1.0em;
}
hr {
	height:3px; 
	color:rgba(42,42,42,0.3);
}

#bodyDiv {
	width:100%; 
	height:100%;
	vertical-align: top;
	align:center; 
	font-size:1.0em;
	line-height:1.0em;
}

#searchBox{
	width:10em;
    vertical-align: center;
    align:center;
}

#searchPageSizeBox{
	width:1em; 
	display:none;
}
#searchButton{
	width:3em;
	color:rgba(250,250,250,0.9); 
	background-color:rgba(150,150,150,0.7); 
}

#connectionStatus{	
	color:rgba(250,250,250,0.9); 
	font-family: Verdana, Geneva, sans-serif; 
	font-size:0.9em;
	vertical-align: center;
	align:center; 
}
#connImage{
	width:1em;
	height:1em;
}
#header{	
	top:0;
	left:0;
	right:0;
	position:fixed;
    background-color: rgba(5,5,5,0.7);
    font-size:1.0em;
	font-family: Verdana, Geneva, sans-serif;
	line-height:1.0em;
	vertical-align: center;
	align:center; 
}
#logo{
	width:3em; 
	height:3em; 
	vertical-align: top;
	align:left; 
}

#footer{	
	bottom:0; 
	left:0; 
	right:0; 
	position:fixed;
	height:5em;
	background-color: rgba(5,5,5,0.7); 
	font-size:1.0em; font-family: Verdana, Geneva, sans-serif;
	line-height:1.0em;
	vertical-align: top;
	align:center; 
}
/* Google Ads */
#googleAd{
/* 	table-layout: fixed;  */
	width:800px;
	display:table-cell; 
	vertical-align: top;
	align:center; 
}

#bannerSpacer{
	height:4em;
	vertical-align: top;
	align:center; 
}

.scrollable-menu {
    width: auto;
    max-height: 20em;
    /*overflow-x: hidden;*/
}

.categoryListPanel{
	/*background-color:rgba(25,25,25,0.5);*/
	text-decoration:none;	
	vertical-align: top;	
	align: center;	
	width:100%;
    padding: 0.25em 0.25em 0.25em 0.25em;
}
.categoryItemListItem{
    color: rgba(225,175,100,0.95);
    background-color:rgba(25,25,25,0.5);
    box-shadow: inset 1px 1px 0px 0px rgba(200,200,200,0.7);
    font:1.0em Verdana, Geneva, sans-serif;
    width:100%;
    display: inline-block;
    text-align:center;

}
.categoryItem{
	color: rgba(225,175,100,0.95);
	/*background-color:rgba(25,25,25,0.5);*/
	/*box-shadow: inset 1px 1px 0px 0px rgba(200,200,200,0.7);*/
	font:1.0em Verdana, Geneva, sans-serif;
	cursor:pointer;
	width:100%;
	height:40px;
	display: inline-block; 
	text-align:center;
}


.categoryItem:hover {
    color:rgba(255,100,10,0.8);
    font:1.3em Verdana, Geneva, sans-serif;
}

.category{
	font:1.0em Verdana, Geneva, sans-serif;
	color: rgba(250,250,250,0.9);
	background-color:rgba(50,50,50,0.0);
	cursor:pointer;
	float: left;	
}
.category:hover {
	color: rgba(250,200,100,0.9);
}


/* News Columns */
.searchListType {
	display: inline-block;
    width : 100%;
}

.categoryColumn{
	display: table-cell; 	
	/*overflow: hidden; */
}

.row-fluid{
	background-color:rgba(100,100,100,0.1);
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);	
	width:100%;
}


/* RSSItems */
.rssItemType {
	color:rgba(50,50,50,1.0);
	background-color:rgba(255,255,255,0.3);
	box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.3);	
	font-family: Verdana, Geneva, sans-serif; 
	font-size:1.0em;
	line-height:1.25em;	
	display: block;
	/*margin:.5em .5em .5em .5em;*/
	width:95%;
	/*overflow: hidden; */
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.rssItemType:hover {
    background-color:rgba(255,255,255,0.5);
}
.rssItemTypeBreakingNews {
	color:rgba(0,200,0,0.1);
	display: hidden;
}

.rssItemHeader{
	font-family: Verdana, Geneva, sans-serif;
	font-size:1.0em ;
	line-height:1.0em ;
}
.rssItemTitle{
	font-family: Verdana, Geneva, sans-serif;
	font-size:1.15em ;
	line-height:1.25em ;
}
.rssItemDescription {
    font-family: Verdana, Geneva, sans-serif;
    font-size:0.75em ;
	line-height:1.0em ;
}	
.rssItemDate{
	font-family: Verdana, Geneva, sans-serif; 
	font-size:1.0em;
}

.cr-pagination
{
    color:rgba(50,50,50,1.0);
    background-color:rgba(5,5,5,0.1);
}

/* Large desktop */
@media (min-width: 1200px) {
	#connectionDiv			{display:block;}
	#footer					{display:block; }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#connectionDiv			{display:none;}
	#footer					{display:none; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#connectionDiv			{display:none;}
	#footer					{display:none; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#connectionDiv			{display:none;}
	#footer					{display:none; }
}





/* Banner
#bannerDisplay{	
    margin: 10em auto 0;
    width:97%;
	vertical-align: top;
	align:center; 
}
.banner{
	color:rgba(50,50,50,0.9); 
	width:100%;
	height:30em; 
	color:rgba(250,250,250,0.9); 
	font-family: Verdana, Geneva, sans-serif;
    overflow: hidden;
	vertical-align: top;
	align:center; 
}		
.bannerTitle {
	width:97%; 
	vertical-align: top;
	align:center; 
}
.bannerHeader{
	margin:5px 25px 25px 25px;
	font-size:1.25em;
	line-height:1.25em;
	font-weight:bold; 
	font-family: Verdana, Geneva, sans-serif;
	color:rgba(50,50,50,0.9); 
	background-color:rgba(50,50,50,0.1); 
	box-shadow: 1px 7px 100px 7px rgba(0,0,0,0.7);

}		
.bannerDescription{
	color:rgba(50,50,50,0.9); 
	font-size:1.0em;
	font-family: Verdana, Geneva, sans-serif;
	overflow: hidden; 
	vertical-align: top;
	align:center; 
}		
 */

