<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
       	xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:rabbit="http://www.springframework.org/schema/rabbit"
		xmlns:mongo="http://www.springframework.org/schema/data/mongo"

 		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
      		http://www.springframework.org/schema/mvc
      		http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/data/mongo
			http://www.springframework.org/schema/data/mongo/spring-mongo-1.7.xsd
			http://www.springframework.org/schema/rabbit
            http://www.springframework.org/schema/rabbit/spring-rabbit.xsd

            http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
        ">

    <!--<import resource="classpath:META-INF/cxf/cxf.xml" />-->

    <context:property-placeholder location="router.properties"/>
    <context:annotation-config />
    <mvc:annotation-driven />


    <context:component-scan base-package="com.copyroute.cdm.util"/>
    <context:component-scan base-package="com.copyroute.services"/>
    <context:component-scan base-package="com.copyroute.ui.controller" />

    <!--<bean id="collectionUtils" class="com.copyroute.services.mongo.CollectionUtils"/>-->

    <bean id="channelService" class="com.copyroute.services.news.ChannelService"/>
    <bean id="companyService" class="com.copyroute.services.news.CompanyService"/>
    <bean id="categoryService" class="com.copyroute.services.news.CategoryService"/>



    <!-- Listeners -->
	<!--<bean id="rssController" class="com.copyroute.ui.controller.RssController"/>-->
	<!--<bean id="rssItemService" class="com.copyroute.services.news.RssItemService"/>-->
	<!--<bean id="jsonMessageConverter" class="com.copyroute.services.amqp.Json_MessageConverter"/>-->
 
 	<!-- AMQP ============================================================================== -->
	<!-- Connection and Template -->
	<rabbit:connection-factory id="amqpConnectionFactory" host="${amqp.host}" />
	<rabbit:admin connection-factory="amqpConnectionFactory" />
	<rabbit:template  id="amqpTemplate" connection-factory="amqpConnectionFactory" />
	<!-- .. Caching Connection
	<bean id="rabbitConnectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<property name="host" value="localhost" />
		<property name="username" value="guest" />
		<property name="password" value="guest" />
		<property name="virtualHost" value="/" />
		<property name="port" value="5672" />
	</bean>
	-->
	<!-- Transactions -->
<!-- 	<tx:annotation-driven transaction-manager="rabbitTxManager"/> -->
<!-- 	<bean id="rabbitTxManager" class="org.springframework.amqp.rabbit.transaction.RabbitTransactionManager"> -->
<!-- 		<property name="connectionFactory" ref="amqpConnectionFactory"/> -->
<!-- 	</bean> -->
	<!-- ListenerContainer : Driven by TaskExecutor -->
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		 <property name="corePoolSize" value="10" />
		 <property name="maxPoolSize" value="15" />
		 <property name="queueCapacity" value="25" />
	</bean>
	
	
	<!-- Mongo Config ==============================================================================-->
	
	<!-- Repo-Scan : Pick up Mongo Repos -->
	<mongo:repositories base-package="com.copyroute.services.mongo" />
	<mongo:mongo host="${mongo.host}" port="27017">
		<mongo:options
			connections-per-host="100"
			threads-allowed-to-block-for-connection-multiplier="10"
			connect-timeout="30000"
			max-wait-time="30000"
			auto-connect-retry="true"
			socket-keep-alive="true"
			socket-timeout="0"
			slave-ok="true"
			write-number="1"
			write-timeout="0"
			write-fsync="true"/>
	</mongo:mongo>
	<!--<bean id="mongoError" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>-->

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongo"/>
		<constructor-arg name="databaseName" value="test"/>
		<constructor-arg name="userCredentials" ref="userCredentials"/>
	</bean>
	<bean id="gridFSTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
	              <constructor-arg ref="dbFactory" />
	              <constructor-arg ref="converter" />
	      </bean>
    <mongo:mapping-converter id="converter" db-factory-ref="dbFactory" />
    <mongo:db-factory id="dbFactory" dbname="test" />
	<bean id="userCredentials" class="org.springframework.data.authentication.UserCredentials">
		<constructor-arg name="username" value="${mongo.user}"/>
		<constructor-arg name="password" value="${mongo.pass}"/>
	</bean>
  
  
</beans>

<!-- 	<bean id="WurflHolder" class="net.sourceforge.wurfl.core.GeneralWURFLEngine"> -->
<!-- 	  <constructor-arg index="0" value="classpath:/wurfl/wurfl.zip" /> -->
<!-- 	  <constructor-arg index="1" value="<< patch here >>"/> -->
<!-- 	  <constructor-arg index="2" value="<< more patches here >>"/> -->
<!-- 	</bean> -->

